html {
  font-size: 16px;
}

body {
  margin: 0;
}

/* Header */
header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo-name {
  height: 2rem;
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav {
  margin-right: .5rem;
}
header .title {
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
}
header .black {
  color: rgb(52,61,70);
  font-weight: 500;
}
header .silver {
  color: rgb(192,197,206);
  font-weight: 300;
}
header ul {
  display: flex;
  justify-content: space-around;
}
header li {
  display: flex;
  margin-right: 1rem;
}
header a {
  color: rgb(72,72,72);
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

/* 1st Section */
#banner-section {
  background-color: rgb(220,220,220);
  display: flex;
  justify-content: flex-start;
}
#banner-section .container {
  margin-left: 1.5rem;
}
#banner-section .image {
  width: 60%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#banner-section img {
  max-width: 100%;
}
#banner-section .text {
  color: rgb(64,64,64);
  font-family: 'Open Sans', sans-serif;
  width: 45%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#banner-section h1, #banner-section h2, #banner-section .button {
  margin: 1.25rem 0;
  width: 80%;
}
#banner-section h1 {
  font-weight: 700;
}
#banner-section h2 {
  font-size: 1.25rem;
  font-weight: 500;
}
#banner-section .button {
  color: rgb(240,240,240);
  padding: .5rem 0;
  background-color: rgb(64,64,64);
  text-align: center;
  font-weight: 300;
}

/* Information Section */
#info-section {
  color: rgb(64,64,64);
  font-family: 'Open Sans', sans-serif;
  display: flex;
}
#info-section .left-container {
  width: 60%;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}
#info-section .left-container .image {
  margin-bottom: 2rem;
}
#info-section .left-container img {
  max-width: 100%;
}
#info-section .left-container .text {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
#info-section .right-container {
  border-left: .1rem solid rgb(220,220,220);
  width: 40%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#info-section .right-container .info-box {
  display: flex;
  align-items: center;
}
#info-section .right-container .image {
  width: 35%;
}
#info-section .right-container img {
  max-width: 100%;
  height: auto;
}
#info-section .right-container .text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#info-section h2, #info-section h3, #info-section p {
  margin: 0;
}
