html {
  font-size: 16px;
}

body {
  background-color: rgb(245,245,245);
  margin: 0;
}
h2,h3,p {
  margin:0;
}
h3 {
  font-weight: 500;
}
p {
  font-size: .875rem;
  font-weight: 300;
}

/* Header */
header {
  background-color: white;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo-name {
  height: 2rem;
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav {
  margin-right: .5rem;
}
header .title {
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
}
header .black {
  color: rgb(52,61,70);
  font-weight: 500;
}
header .silver {
  color: rgb(192,197,206);
  font-weight: 300;
}
header ul {
  display: flex;
  justify-content: space-around;
}
header li {
  display: flex;
  margin-right: 1rem;
}
header a {
  color: rgb(72,72,72);
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

/* 1st Section */
#banner-section {
  background-color: rgb(220,220,220);
  display: flex;
  justify-content: flex-start;
}
#banner-section .container {
  margin-left: 1.5rem;
}
#banner-section .image {
  width: 60%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#banner-section img {
  max-width: 100%;
}
#banner-section .text {
  color: rgb(64,64,64);
  font-family: 'Open Sans', sans-serif;
  width: 45%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#banner-section h1, #banner-section h2, #banner-section .button {
  margin: 1.25rem 0;
  width: 80%;
}
#banner-section h1 {
  font-weight: 700;
}
#banner-section h2 {
  font-size: 1.25rem;
  font-weight: 500;
}
#banner-section .button {
  color: rgb(240,240,240);
  padding: .5rem 0;
  background-color: rgb(64,64,64);
  text-align: center;
  font-weight: 300;
}

/* Information Section */
#info-section {
  color: rgb(64,64,64);
  font-family: 'Open Sans', sans-serif;
  display: flex;
}
#info-section .left-container {
  width: 60%;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}
#info-section .left-container .image {
  margin-bottom: 2rem;
}
#info-section .left-container img {
  max-width: 100%;
}
#info-section .left-container .text {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
#info-section .left-container h2 {
  margin-bottom: 1.5rem;
}
#info-section .left-container p {
  font-weight: 100;
  line-height: 1.25;
  margin-bottom: 2rem;
}
#info-section .left-container .author {
  font-size: .825rem;
}
#info-section .right-container {
  border-left: .05rem solid rgb(220,220,220);
  width: 40%;
  height: auto;
  padding: 0 .1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#info-section .right-container .info-box {
  display: flex;
  align-items: center;
}
#info-section .right-container #info-box-one {
  border-bottom: .25rem double rgb(220,220,220);
  margin-bottom:.5rem;
}
#info-section .right-container #info-box-three {
  background-color: rgb(220,220,220);
}
#info-section .right-container .image {
  width: 35%;
  margin: 1rem;

}
#info-section .right-container img {
  max-width: 100%;
  height: auto;
}
#info-section .right-container .text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#info-section .right-container .text h3 {
  margin-bottom: .5rem;
}
#info-section .right-container .text p {
  margin-bottom: .5rem;
}
#info-section .right-container .text a {
  color: rgb(50,140,250);
  font-size: .875rem;
  font-weight: 300;
  text-decoration: none;
}

/* Course Section */
#course-section {
  background-color: rgb(220,220,220);
  padding: 2rem 4.5rem;
  display: flex;
  flex-direction: column;
}
#course-section .header {
  color: rgb(64,64,64);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
#course-section .courses-container {
  color: rgb(64,64,64);
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  display: flex;
}
#course-section #top-container {
  margin-bottom: 1rem;
}
#course-section .courses-container .course-box {
  background-color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
}
#course-section .courses-container .software,
#course-section .courses-container .computer,
#course-section .courses-container .data,
#course-section .courses-container .business {
  margin-right: 1rem;
}
#course-section .course-box .image {
  margin-bottom: .5rem;
}
#course-section .course-box img {
  max-width: 100%;
  height: auto;
}
#course-section .course-box .text {
  padding-left: .5rem;
}
#course-section .course-box h3 {
  margin-bottom: .5rem;
}
#course-section .course-box p {
  margin-bottom: .5rem;
}

/* Thesis Section */
#thesis-section {
  border-bottom: .05rem solid rgb(220,220,220);
  display: flex;
  flex-direction: column;
}
#thesis-section .header {
  color: rgb(64,64,64);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
#thesis-section .thesis-container {
  color: rgb(64,64,64);
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
}
#thesis-section .left-container {
  width: 60%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#thesis-section .left-container .video {
  max-width: 100%;
  height: auto;
  padding-bottom: 1.5rem;
}
#thesis-section .left-container .text {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
#thesis-section .left-container .text h3 {
  margin-bottom: .5rem;
}
#thesis-section .left-container .text p {
  font-weight: 100;
  line-height: 1.25;
}
#thesis-section .right-container {
  width: 40%;
  margin-left: 2rem;
  margin-right: .1rem;
  display: flex;
  flex-direction: column;
}
#thesis-section .right-container .news-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
#thesis-section .right-container .fisma {
  background-color: rgb(220,220,220);
}
#thesis-section .right-container .image {
  width: 35%;
  margin: 1rem;
}
#thesis-section .right-container img {
  max-width: 100%;
  height: auto;
}
#thesis-section .right-container .text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#thesis-section .right-container .text h3 {
  margin-bottom: .5rem;
}

/* Footer */
footer {
  color: rgb(64,64,64);
  font-family: 'Open Sans', sans-serif;
  height: 4rem;
  margin: 0 1.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
